global:
  scrape_interval: 10s

scrape_configs:
- job_name: vminsert
  static_configs:
  - targets:  {{ groups['vminsert']
                | map('extract', hostvars)
                | map(attribute='inventory_hostname')
                | map('regex_replace', '^(.*)$', '\\1:' + vminsert_port)
              }}
- job_name: vmselect
  static_configs:
  - targets:  {{ groups['vmselect']
                | map('extract', hostvars)
                | map(attribute='inventory_hostname')
                | map('regex_replace', '^(.*)$', '\\1:' + vmselect_port)
              }}
- job_name: vmstorage
  static_configs:
  - targets:  {{ groups['vmstorage']
                | map('extract', hostvars)
                | map(attribute='inventory_hostname')
                | map('regex_replace', '^(.*)$', '\\1:' + vmstorage_port)
              }}